@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* COLOR PALETTE */
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;
  --green: #caf82a;
  --white: #ffffff;

  /* font-weight: 400; = Regular

font-weight: 600; = SemiBold

font-weight: 700; = Bold */
  /* TYPOGRAPHY */
  --font-family: "Inter", Arial, sans-serif;
  --line-height: 1.5;
  /* Preset 1 */
  --preset1-size: 1.5rem; /*24px */
  --preset1-fw: 600;

  /* Preset 2 */
  --preset2-size: 0.875rem; /*14px */
  --preset2-fw: 400;

  /* Preset 2  Bold*/
  --preset2b-size: 0.875rem; /*14px */
  --preset2b-fw: 700;
}
/* Text Preset */
.text-preset1 {
  font-size: var(--preset1-size);
  font-weight: var(--preset1-fw);
}

.text-preset2 {
  font-size: var(--preset2-size);
  font-weight: var(--preset2-fw);
}

.text-preset2-bold {
  font-size: var(--preset2b-size);
  font-weight: var(--preset2b-fw);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--grey-900);
  line-height: var(--line-height);
  font-family: var(--font-family);
  color: var(--white);
}

.card,
img {
  margin: 0 auto;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 327px;
  height: 579px;
  background-color: var(--grey-800);
  margin: 0 auto;
  padding: 1.5em;
  text-align: center;
  border-radius: 10px;
}

.user-img {
  width: 88px;
  border-radius: 50%;
}

h1 {
  padding-top: 1.5em;
}

.location {
  color: var(--green);
}

.about-me {
  padding: 1.714em 0;
}

/* BUTTONS STYLE */

.user-links {
  padding: 0.63em 0;
  background-color: var(--grey-700);
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
}

.user-links:hover,
.user-links:focus {
  cursor: pointer;
  background-color: var(--green);
  color: var(--grey-700);
}

.user-links:not(:last-child) {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .card {
    width: 384px;
    height: 611px;
    padding: 2.5em;
  }
}
